*{
    -webkit-transition:0.2s width;
       -moz-transition:0.2s width;
            transition:0.2s width;
}

html {
	font-family: 'Source Code Pro', sans-serif;
	color: #4d4d4d;
	background-color: #f3f3f3;
	text-shadow: 1px 1px 0 #fff;

 	@include media-query(palm){
        font-size: 100%!important;
        h1#title a.full {
            display: none;
        }
        h1#title a.small {
            display: inline-block;
        }
    }   

    @include media-query(lap){
        font-size: 112.5%!important;
        h1#title a.full {
            display: block;
        }
    }

    @include media-query(lap-and-up){
        h1#title a.small {
            display: none;
        }
    }

    /*
    @include media-query(portable){
        font-size: 125%;

    }
    */

    @include media-query(desk){
        font-size: 125%!important;
    }

    @include media-query(desk-wide){
        font-size: 125%!important;
    }
}


.page-container {
    height:100%;
}

.wrapper{
    max-width:1200px;
    margin-right:auto;
    margin-left: auto;
        @include media-query(palm){
            padding-right:$base-spacing-unit;
            padding-left:$base-spacing-unit;
    }  
}
.grid--center {
    max-width:1200px;
    margin-right:auto;
    margin-left: auto;
    text-align: center;
}
    .grid--center .grid__item {
        text-align: left;
    }

.header-container {
    position: fixed;
    opacity: 1;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: #fdfdfd;
    border-bottom: 1px solid #f1f1f1;
    height: 66px;
    max-height: 100%;
    overflow-y: auto;
}
.header-container.open {
    height: 100%;
    opacity: 0.95;
}

/* adapted split method >maybe use it later */
.header-container {
    text-align:right;
    list-style:none;
    margin-left:0;
}

    .header-container h1#title {
        text-align:left;
        float:left;
        clear:left;
        margin: 0;
        padding: 15px 0;
    }
    .header-container a {
        color: #191919;
        text-decoration: none;
    }
    .header-container h1#title a {
        color: #191919;
        text-decoration: none;
    }
    .header-container h1#title a:hover {
        color: #000000;
        text-decoration: none;
        border-bottom: 3px solid #000000;
    }

.header-container {
    display: inline-block;
    vertical-align: middle;
}

.main-container {
    background-color: transparent;
}

.main-container-center {
    position: absolute;
    background: #3ba2cf url('http://www.teehanlax.com/resources/img/story/teehan-lax/hero-bg.jpg');
    top: 0px;
    bottom: 100px;
    left: 0;
    right: 0; 
    padding-top: 66px;
    overflow: hidden;
}

article.post {
    margin-top: 150px; 
}

h1,h2,h3,h4,h5,h6{
}

p {
	font-weight: 400;
}

a, a:hover {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #9c1308;
}

blockquote p { 
	font-style: italic;
    font-weight: 700;
    padding-left: $base-spacing-unit;
    border-left: 0.4rem solid #fd6651;
}

.footnotes {
padding: 1.5em 0 0 0;
color: rgba(0,0,0,0.5);
font-size: 0.875em;
border-top: 0.063rem solid rgba(0, 0, 0, 0.25);
}

.footnotes ol {
    margin-left: $base-spacing-unit;
    margin-left:($base-spacing-unit / $base-font-size)*1rem;
}
  
.footer-container {
    background-color: #333;
}



