---
layout: default
---

		{% if page.splash %}
			{% if page.splash contains 'http' %}
				{% capture url %}{{page.splash}}{% endcapture %}
			{% else %}
				{% capture url %}{{site.baseurl}}{{page.splash}}/{% endcapture %}
			{% endif %}
			<img src="{{url}}">
		{% endif %}

			<div class="main-container">
				<div class="main wrapper clearfix">

					<div class="grid">
						<div class="grid--center">
						    <div class="grid__item one-whole lap-eight-twelfths desk-eight-twelfths desk-wide-eight-twelfths">
								<article class="post">
									<h1 class="post_title beta">{{page.copytitle}}</h1>
									{{ content }}
								</article>
								{{ page.date | date: "%B %d, %Y" }}
								<ul class="nav  nav--keywords">
									<li>Tagged:</li>
									{% for tag in page.tags %}
									<li><a href="{{site.baseurl}}/tag/{{ tag }}/">{{ tag }}</a></li>
									{% endfor %}
								</ul>
							</div>
						</div>
					</div>
				
              	</div> <!-- #main -->
        	</div> <!-- #main-container -->

			<nav class="slides-navigation">
				{% if page.previous %}
				<a class="prev btn" href="{{site.baseurl}}{{ page.previous.url }}" title="View {{ page.previous.title }}">&larr; <!--{{ page.previous.title }}--></a>
				{% endif %}
				{% if page.previous and page.next %}
				{% endif %}
				{% if page.next %}
				<a class="next btn" href="{{site.baseurl}}{{ page.next.url }}" title="View {{ page.next.title }}"><!--{{ page.next.title }}--> &rarr;</a>
				{% endif %}
			</nav>

		{% include footer.html %}

