---
layout: default
---

			<div class="main-container-center">
				<div class="main wrapper clearfix">
					<div class="background"><img src="http://www.teehanlax.com/resources/img/home/bg-bellstackupphones.png" alt=""></div>
					<div class="vert-center copy">
						<h2>The Story of Our Company</h2>
						<a href="/story/teehan-lax" class="button">The making of Teehan+Lax</a>
					</div>

              	</div> <!-- #main -->
        	</div> <!-- #main-container -->

			<div class="tagline-container">
				<footer class="wrapper">
		            <p>test</p>
		        </footer>  <!-- .wrapper -->
			</div>