---
layout: default
---

			<div class="main-container">
				<div class="main wrapper clearfix">

					<div class="grid">
						<div class="grid--center">
						    <div class="grid__item one-whole lap-eight-twelfths desk-eight-twelfths desk-wide-eight-twelfths">
								<article class="post">
									<h1 class="post_title gamma">{{page.title}}</h1>
									{{ content }}
								</article>
								{{ page.date | date: "%B %d, %Y" }}
							</div>
						</div>
					</div>
				
              	</div> <!-- #main -->
        	</div> <!-- #main-container -->

		{% include footer.html %}

